[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
sentence-transformers = "*"
fastapi = "*"
uvicorn = "*"
plyvel = "*"
msgpack = "*"
sqlitedict = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
